html, body{
    height: 100%;
    color: white;
    overflow: auto;
    background-color: #282c34;
    font-family: Comfortaa, serif;
}

div[location^="[object"] {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

.max-height{
    height: 100%;
    color: white;
    overflow: auto;
}
#crappy_hacky_solution{
    height: auto;
    overflow: visible;
}

#container-row {
    height: 100%;
}

#serverList{
    text-align: center;
    color: white;
}

.alignText {
    text-align: center;
}

#center-column {
    height: 100%;
    background-color: #282c34;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top-width: .2em;
    border-bottom: none;
    text-align: center;
    text-justify: center;
}
.side-column {
    background-color: #282c34;
    border-style: solid;
    border-left-width: .2em;
    border-right-width: .2em;
    border-top-width: .2em;
    border-bottom: none;
    text-align: center;
    text-justify: center;
}

#serverList img {

}

.frq-icon{
    width: 3.5em;
    height: 3.5em;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    margin-bottom: .75em;
}

.frq-div{
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 2em;
}

.choiceButton {
    border: none;
    background-color: gray;
}
.server-logo {
    width: 6.5em;
    height: 6.5em;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    margin-bottom: .75em;
}

.friend-icon {
    width: 5em;
    height: 5em;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    margin-top: .75em;
    margin-bottom: .75em;
}
.server-logo-text{
    margin-left: auto;
    margin-right: auto;
    width: 6.5em;
    height: 6.5em;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    margin-bottom: .75em;
}

.server-logo-text div {
    font-size: 4em;
    position: relative;
    top: 50%;
    transform: translateY(-.825em);
}
